* {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera San, Hei;
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 4em 0;
}

a {
  color: #0b58a7;
}

a:active {
  color: #093f77;
}

.container {
  max-width: 768px;
  padding: 0 2em;
  margin: 0 auto;
}